html {
    font-size: 10px;
    text-align: left;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

img{
    max-width: 100%;
}

a {
    text-decoration: none;
}

.background {
    position: relative;
    background-image: url("../img/kwiaty.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    overflow: hidden;
    height: 900px;
    min-width: 1000px;

}

.mainBoxBackground, .mainBoxBackgroundBig{
    position: relative;
    background-color: whitesmoke;
    margin: 300px auto;
    height: 500px;
    width: 500px;

}
.mainBoxBackgroundBig, .mainBoxBackgroundBig .mainBoxHolder{
    background-color: unset;
    border: none;
}


.mainBoxBackgroundBig{
    width: 850px
}
.mainBox{
    font-family: "Indie Flower", sans-serif;
}
.mainBox, .mainBoxBig{
    position: relative;
    margin: 300px auto;
    height: 500px;
    width: 500px;
}
.mainBoxBig p, .bouquet h2, .otherOffer {
    font-size: 2.3rem;
    margin-left: 40px;
    font-family: "Courgette", sans-serif;
    color: #6A4528;
}
.mainBoxBig {
    width: 99%;
    margin: 350px auto;
}
.mainBoxHolder{
    background-color: white;
    position: absolute;
    left: 2.5%;
    top: 2.5%;
    width: 94%;
    height: 94%;
    border: 1px solid darkgrey;

}

.linkHolder {
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 0;
}

.linkHolder img {
    margin: 0;
}
.linkHolder li {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.linkHolder a{
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    list-style: none;
    color: black;
    text-decoration: none;
    background-image: none;
    line-height: 40px;
}
.linkHolder a:hover{
    color: fuchsia;
}

.iconFlower{
    background-image: url("../img/icons8-flower-48.png");
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}



.title,.titleSmall, .titleLogo {
    font-family: 'Caveat', 'sans-serif';
    font-size: 8rem;
    text-shadow: 4px 4px 4px blueviolet;
    color: white;
    position: absolute;
    left: 40px;
    top: -230px;
    list-style: none;
    text-decoration: none;
    background-image: none;
}

.logoHolder{
    position: relative;
    margin: auto 160px;
}

.titleLogo:hover{
    transform: scale(0.9);
}
.title a{
    color: white;
}

.title:hover, .titleSmall:hover, .title a:hover{
    color: #8F00FF;
    text-shadow: 4px 4px 4px white;
}
.titleSmall {
    font-size: 4rem;
    left: 120px;
    top: -130px
}

.titleLogo {
    left: 315px;
    top: -175px
}

.headerBeam {
    font-size: 2rem;
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #8F00FF;
}

.nav-headder{
    display: flex;
    justify-content: center;
}
.nav-headder ul{
    margin-top: 25px;
    display: flex;
    flex-direction: row;

}
.nav-headder li{
    margin-left: 20px;
    list-style: none;

}

.nav-headder li a, .footerBeam{
    position: relative;
    text-decoration: none;
    background-image: none;
    color: white;
    font-family: "Courgette", sans-serif ;
    font-size: 2.5rem;
}
.footerBeam{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    min-width: 1000px;
}

.nav-headder li a:hover{
    color: fuchsia;
    text-shadow: 1px 1px 3px black;
}

.footerBeam{
    position: absolute;
    display: flex;
    flex-flow: row;
    color: whitesmoke;
    top: 850px;
    background-color: blueviolet;
    height: 50px;
    width: 100vw;
    font-size: 2.5rem;
    font-weight: bold;
}

.contactDataHolder{
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    justify-content: space-around;
    font-size: 3rem;
}
.form-row{
    display: flex;
    flex-flow: column;
}
.form{
    width: 35%;
}

.form input, .form textarea{
    background-color: unset;
    height: 20px;
}

.form textarea{
    height: 100px;
}

.form label{
    margin-top: 15px;
    font-family: "Courgette", sans-serif ;
    font-size: 2.5rem;
    color: #6A4528;
}

.notValid{
    color: red
}
.submit-btn{
    background-color: unset;
    font-family: "Courgette", sans-serif;
    color: #6A4528;
    font-size: 1.8rem;
    border: 2px solid grey;
}
.imgHolder{
    margin-right: 10px;
}

.myMap {
    /*-webkit-filter: grayscale(80%);*/
    filter: grayscale(100%)
}

.linkHolderOffer {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    font-size: 2.3rem;
    font-family: "Indie Flower", sans-serif;
    position: relative;
}
.linkHolderOffer>div{
    position: relative;
}
.linkHolderOffer h2{
    margin: 10px;
    position: absolute;
    top:100%;
    left: 10%;
    color: white;
    text-shadow: 4px 4px 4px blueviolet;

}

.linkHolderOffer h2:hover{
    color: fuchsia;
    text-shadow: 4px 4px 4px white;

}

.linkHolderOffer .flowers{
    height: 230px;
    width: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid darkgoldenrod;
    filter: sepia(40%);
;
}

.weedingFlowers{
    background-image: url("../img/kwiaty-slub.jpg");

}

.flowers:hover{
    filter: contrast(130%);

}
.otherFlowers{
    background-image: url("../img/kwiaty-rozne.jpg");
}
.chirchFlower{
    background-image: url("../img/kwiaty-kosciol.jpg");
}

.weedingRoom{
    background-image: url("../img/sala-weselna.jpg");

}
.weedingCar{
    background-image: url("../img/samochod.jpg");

}
.jewelry{
    background-image: url("../img/bizuteria.jpg");

}
.flowersSmall .flowers{
    height: 180px;
    width: 280px;
    margin: 10px;

}


.flowersSmall h2{
    font-size: 2.5rem;
    top: 70%;
    left: 10px;
}
.linkHolderSmall{

    position: absolute;
    width: 950px;

}
.flowersSmall{
    position: absolute;
    left: -50px;
}
.each-slide{
    position: relative;

}
.slider{
    margin-left: 50px;
}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 400px;
    border-radius: 5px;
    border: 2px solid black;
}

.each-slide span {
    position: absolute;
    top:80%;
    left:0;
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
    font-family: Caveat, sans-serif;
}

.img1{
    background-image: url("../img/gallery/kwiat1.jpg");
}
.img2{
    background-image: url("../img/gallery/kwiat2.jpg");
}
.img3{
    background-image: url("../img/gallery/kwiat3.jpg");
}
.img4{
    background-image: url("../img/gallery/kwiat4.jpg");
}
.img5{
    background-image: url("../img/gallery/kwait5.jpg");
}
.img6{
    background-image: url("../img/gallery/kwiat6.jpg");
}

.contactDataFooter{
    margin-left: 20px;
    font-family: "Courgette", sans-serif ;
    font-size: 1.8rem;
    color: #6A4528;
}

.svgFb{
    color: red;
    position: absolute;
    top: 2px;
    left: -40px;
    width: 30px;
    height: 30px;
}

.contactData{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 20px;
    min-width: 1000px;
}

.contactData a {
    position: relative;
    font-family: "Courgette", sans-serif ;
    font-size: 1.8rem;
    margin-top: 10px;

}

.contactData .svgFb{
    width: 50px;
    height: 50px;
}